  <h1>Your <span class="branding">¢oin</span> for: <%=number_to_currency(@calculation.convert_to_dollas)%></h1>
  <table>
    <thead>
      <tr>
        <th>Silver Dollars </th>
        <th>Half Dollars </th>
        <th>Quarters </th>
        <th>Dimes </th>
        <th>Nickels </th>
        <th>Pennies </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @calculation.silver_dollars %></td>
        <td><%= @calculation.half_dollars %></td>
        <td><%= @calculation.quarters %></td>
        <td><%= @calculation.dimes %></td>
        <td><%= @calculation.nickels %></td>
        <td><%= @calculation.pennies %></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <h2>Again?</h2>

    <%= button_to "More ¢oin Please", root_path, {method: 'get', class:'btn waves-effect waves-light'}%>
  </div>