<h1 class="branding">Get That ¢oin.</h1>

<div class="row">
  <%= form_for(@calculation, html: { class: "col s12"}) do |f| %>
    <fieldset>
      <label for="amount" data-error="price format: $0.00" data-success="Good to go!">Amount</label>
      <!-- data errors work on html5 tags, but not working with erb rendered code -->
      <%= f.text_field :amount, class: "validate", required: true, pattern: "\\${1}\\d+(\\.\\d{2})?" %>
      <!-- Had to escape pattern match -->
    </fieldset>
    <%= f.button class:"btn waves-effect waves-light"%>
  <%end%>
</div>
