<!DOCTYPE html>
<html>
  <head>
    <title>¢oin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo branding">¢oin</a>
        </div>
      </nav>
    </div>
    <div class="container">
    <%= yield %>
    </div>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About <span class="branding">¢oin</span></h5>
            <p class="grey-text text-lighten-4"><span class="branding">¢oin</span> is a simple app to let you know how much coin you should be getting, no matter how much paper is dropped!</p>
            <p class="grey-text text-lighten-4">Want to try it out? Enter any formatted dollar value (e.g. $1.56 or $12.85).</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Lessons Learned</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Architecture is Hard!</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/RubyMoney/money">The Money Gem is cool.</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">How the Greedy Algorithm works.</a></li>
              <li><a class="grey-text text-lighten-3" href="https://ruby-doc.org/core-2.4.1/Numeric.html#method-i-divmod">The Ruby divmod method is really cool!</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Rails is a behemoth!</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Kara Carrell
          <a class="grey-text text-lighten-4 right" href="https://github.com/KaraAJC">Github</a>
        </div>
      </div>
    </footer>
  </body>
</html>